.container {
  max-width: 1056px;
  margin: auto;
  padding: 0 16px;
}

.row {
  display: grid;
  grid-gap: 48px 24px;
  @media screen and (min-width: 701px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.section {
  padding: 140px 0;
  @media screen and (max-width: 700px) {
    padding: 40px 0;
  }
}
